extends ../layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='/') Inicio
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/') Principal
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#reservas') Reservas
  // Masthead
  header.masthead#reservas
    .container.d-flex.h-100.align-items-center
      .container.text-center
        div.container.button-create.d-flex
          form(action="/reservas/create" method="GET")
            input.btn.btn-primary(type="submit" value="Crear")
        div.container-fluid
          table.table.table-bici
            thead.thead-dark
              tr
                th(scope='col') Codigo
                th(scope='col') Usuario
                th(scope='col') Modelo
                th(scope='col') Color
                th(scope='col') Desde
                th(scope='col') Hasta
                th(scope='col') Días de reserva
            tbody.text-light
              each reserva in reservas
                tr
                  td= reserva.codigo
                  td= reserva.usuario
                  td= reserva.modelo
                  td= reserva.color
                  td= reserva.desde
                  td= reserva.hasta
                  td= reserva.dia_reserva
  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    .container Copyright &copy; Your Website 2020
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  // Core theme JS
  script(src='/javascripts/scripts.js')
  script(src='/javascripts/map.js')

